<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thanks, <%= @user.name %></h1>
    <p>
      You have successfully booked a flight!
    </p>
    <p>We hope to see you soon.</p>
  </body>
</html>
